body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #eae8e8;
  padding-bottom: 0px;

}


.flash {

  color: #449D44;
  padding: 20px;
	width:100%;
  font-size: 15px;
	text-decoration: none;
}

.flash li {
	list-style-type: none;
	text-align: center;

}

.jumbotron {
background-image: url(/static/images/Jumbotron.jpg);
background-size: cover;
background-position: center;
height: 100%;
}

hr {
  border: 0;
  color: black;
  background-color: black;
  height: 2px;
}

.footer {
  bottom: 0;
  height: 30px;
  background-color: #222222;
  color: white;
}

.banner {
  font-family: 'Mountains of Christmas', cursive;
  font-weight: 700;
  font-size: 80px;
  color: white;
  /* For text outline */
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;

}

.navbar-banner {
  font-family: 'Mountains of Christmas', cursive;
  margin-top: 10px;
  font-size: 25px;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}