{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="col-md-12">
		<br>
		<h1 class="text-center">Edit Goal<h1>
	</div>
</div>

<div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<form action="#"  method='post' enctype="multipart/form-data">
				<fieldset class="form-group">
					<label for="goalTitle">Title:</label>
					<input type="text" class="form-control" name="title"
					id="goalTitle" value="{{item.title}}" required>
				</fieldset>
				<fieldset class="form-group">
				    <label for="goalDescription">Goal description:</label>
				    <textarea class="form-control" id="goalDescription" 
				    rows="4" name="description" maxlength="500">{{item.description}}</textarea>
			  	</fieldset>
			  	<fieldset class="form-group">
				    <label for="goalFile">File input</label>
				    <input type="file" class="form-control-file" id="goalFile"
				    name="file">
				</fieldset>
				<div class="checkbox">
				    <label>
				      <input type="checkbox" name="isPrivate" value="1"
				      {% if item.isPrivate == 1 %} checked {%endif%}> 
				      Mark Private
				    </label>
			 	</div>
			 	<div class="checkbox">
				    <label>
				      <input type="checkbox" name="isDone" value="1"
				      {% if item.isDone == 1 %} checked {%endif%}> 
				      Completed
				    </label>
			 	</div>

			 	<button type="submit" class="btn btn-primary">Edit</button>   
			</form>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>
{% endblock %}