{% extends "base.html" %}
{% block content %}
<br>
<br>

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-2">
		<img class="img-responsive img-circle" src="{{user.picture}}"/>
	</div>
	<div class="col-md-4">
	<h1>{{user.username}}</h1>
	<h3>{{user.email}}</h3>
	<p>{{user.desc}}</p>
	</div>
	<div class="col-md-3"></div>
</div>
<div class="row">
	<div class="col-md-12"><h1 class="text-center">Goals</h1></div>
<div>
<div class = "row">
	<div class="col-md-6">
		<div class="row">
			<h3 class="text-center">Active</h3>
		</div>
		{% for goal in goals %}
			{% if goal.isDone == 0 %}
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-3">
					<img class="img-thumbnail center-block" src="{{goal.picture}}" style="width: 100px; height: 100px;"/>
				</div>
				<div class="col-md-6">
					<p><a href="#">{{goal.title}}</a></p>
					<p><strong>Date Created:</strong> 
						<script>document.write(moment('{{goal.timestamp.strftime("%Y-%m-%dT%H:%M:%S Z")}}').format('l'));</script> </p>
					<p># comments</p>
					<a href = "{{url_for('editGoal', user_id = goal.user_id, goal_id = goal.id)}}">
					<button class="btn btn-primary">
					Edit</button>
					</a>

					<a href = "{{url_for('completeGoal', goal_id = goal.id)}}">
					<button class="btn btn-success">
					Complete</button>
					</a>

					<a href = "{{url_for('deleteGoal', user_id = goal.id, goal_id = goal.id)}}">
					<button class="btn btn-danger">
					Delete</button>
					</a>
				</div>
				<div class="col-md-2"></div>
			</div>
			<hr>
			{% endif %}
		{% endfor %}
	</div>

	<div class="col-md-6">
		<div class="row">
			<h3 class="text-center">Completed</h3>
		</div>
		{% for goal in goals %}
			{% if goal.isDone == 1 %}
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-3">
					<img class="img-thumbnail center-block" src="{{goal.picture}}" style="width: 100px; height: 100px;"/>
				</div>
				<div class="col-md-6">
					<p><a href="#">{{goal.title}}</a></p>
					<p><strong>Date Created:</strong> 
						<script>document.write(moment('{{goal.timestamp.strftime("%Y-%m-%dT%H:%M:%S Z")}}').format('l'));</script> </p>
					<p># comments</p>
					<a href = "{{url_for('editGoal', user_id = goal.user_id, goal_id = goal.id)}}">
					<button class="btn btn-primary">
					Edit</button>
					</a>

					<a href = "{{url_for('completeGoal', goal_id = goal.id)}}">
					<button class="btn btn-success">
					Complete</button>
					</a>

					<a href = "{{url_for('deleteGoal', user_id = goal.id, goal_id = goal.id)}}">
					<button class="btn btn-danger">
					Delete</button>
					</a>
				</div>
				<div class="col-md-2"></div>
			</div>
			<hr>
			{% endif %}
		{% endfor %}
	</div>
</div>
{% endblock %}